@model IEnumerable<SchoolRegistrationSystem.Models.Instructor>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-info" asp-action="Create">Add New Instructor</a>
</p>
<div  class="container-fluid py-4">
    <h4 class="text-center text-uppercase">Instructors</h4>
    <table id="myTable" class="table table-striped table-bordered">
        <thead class="bg-dark text-white">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th>Subject</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.EmailAddress</td>
                    <td>@item.Course.CourseName</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.InstructorId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.InstructorId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.InstructorId">Delete</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

